.description {
    max-width: 560px;
    padding: 18px;
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
    margin-bottom: 25px;
}

.boxCard2 {
    padding: 14px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 0.25rem;
    width: 560px;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;

    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
}