.title {
    font-family: var(--fonte-primary);
    font-weight: 800;
    line-height: 3rem;

    &.one {
        font-size: 2.375rem;
    }

    &.one {
        font-size: 1.375rem;
    }

    &.three {
        font-size: 0.75rem;
    }

    &.four {
        font-size: 1rem;
    }
}

.headline {
    font-family: var(--fonte-primary);
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.625rem; /* 162.5% */
}

.body {
    font-family: var(--fonte-primary);
    font-weight: 400;
    font-size: 0.75rem;
    font-style: normal;
    line-height: 1.375rem; /* 183.333% */
}
